.projectsBlock {
    display: flex;
    min-height: 100vh;
    background-color: rgb(66, 70, 73)
    /*border: 1px solid black;*/
}

.projectContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid #61ce42;
    width: 80%;
}

.projectHeader {
    display: flex;
    height: 20%;
    /*border: 1px solid black;*/
    width: 100%;
    justify-content: center;
}

.projectContent {
    display: flex;
    height: 80%;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;

}


@media (max-width: 1004px) {
    .projectContent {
        justify-content: center;
    }
}