@import "./src/common/styles/sass/variables";
.contactsBlock {
    min-height: 70vh;
    background-color: rgb(66, 70, 73);
}

.contactsContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid $primaryColor;
    height: 100%;
}

//.contactTitleContainer {
//    display: flex;
//    justify-content: center;
//    align-items: flex-end;
//    background-color: white;
//    /*border: 1px solid black;*/
//    width: 250px;
//}
h2 {
    color: $textColor;
}

.formContainer {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid $primaryColor;
    width: 100%;
    max-width: 450px;
}
.form {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    //border: 1px solid black;
    height: 250px;
    width: 100%;
    justify-content: space-around;
}
.form input {
    height: 40px;
}

.form textarea {
    height: 70px;
}

.inputWrapper {
    margin: 10px;
}

.contactsButtonContainer {
    display: flex;
    height: 50px;
    width: 200px;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: $textColor;
    border: 1px solid $primaryColor;
    border-bottom: none;
    border-top: none;
}