.skillsBlock {
    min-height: 100vh;
    background-color: #6b6e6e;

}
.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    /*flex-wrap: wrap;*/
}

.title{
    background-color: #474646;
}

.skills {
    /*border: 1px solid;*/
    width: 100%;
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
}

@media (max-width: 634px) {
    .skills{
        justify-content: center;
    }
}