@import "./src/common/styles/sass/variables";

.mainBlock {
    height: 100vh;
    background-color: $bgColorLight;
}


.greeting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    /*background-color: darkgray;*/
    background-color: #717a80;
    font-family: 'Josefin Sans', sans-serif;
    color: $textColor;

}

.photo {
    width: 300px;
    height: 400px;
    background-color: darkgray;
}

